@font-face {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/hkgrotesk-light.woff2") format("woff2"),
    url("../fonts/hkgrotesk-light.woff") format("woff");
}

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/leaguespartan-bold.woff") format("woff");
}
