$grey: #92a1a9;

$white: #ffffff;

$site-dark: #272f45;
$site: #63757e;


$hkgrotesk: "HKGrotesk", verdana, sans-serif;
$leaguespartan: "League Spartan", verdana, sans-serif;


$page--txt: $grey;
$page--txt-alt: $white;
$page--bg: $site-dark;

$search-form--border: site;
