$white: #ffffff;

$site-dark: #272f45;
$site: #63757e;
$site-light: #92a1a9;
$site-bright: #82c9d8;
$site-bright-alt: #eec9a2;


$gina--bg: #b5c2c8;
$beoplay-a1--bg: #5eb7a5;
$leica-mp--bg: #7778c6;
$molekule--bg: #e97864;
$p9-signature--bg: #557581;
$dr-ii--bg: #82c9d8;


$hkgrotesk: "HKGrotesk", verdana, sans-serif;
$leaguespartan: "League Spartan", verdana, sans-serif;


$btn--border: $site-bright;
$btn--border-alt: $site-bright-alt;

$page--txt: $site-light;
$page--txt-alt: $white;
$page--bg: $site-dark;

$search-form--border: site;
