.badge {
  position: relative;

  &::after {
    position: absolute;
    content: "";
  }

  &--kikstarter::after {
    width: 122px;
    height: 125px;
    top: 30px;
    right: 30px;
    background: url("../img/kickstarter-badge.png") center no-repeat;
  }
}
